@font-face {
    font-family: "Nunito Bold";
    src : url("./fonts/nunito-bold.ttf")
}

@font-face {
    font-family: "Montserrat Medium";
    src : url("./fonts/montserrat-medium.ttf")
}


@font-face {
    font-family: "Poppins Regular";
    src : url("./fonts/poppins-regular.ttf")
}

@font-face {
    font-family: "Worksans Regular";
    src : url("./fonts/worksans-regular.ttf")
} 