@import 'main';

.navigation {
    position: absolute;
    z-index: 100;
    margin: 0 auto;
    top: 30px;
    width: 100%;
    @extend %flex-center;
}

.user-panel {
    @extend %flex-center;

    .button {
        @extend %button;
        padding: 8px 30px; 
        text-align: center;       

        @include font-pack($nunito-font-stack, bold, 14px, 20px, $green-color);              

        &-active{
            background-color: $green-color;
            color: $white-color;
        }
    }

    .icon {
        @extend %button;
        padding: 20px;

        &:hover {
            opacity: 0.6;
            transform: scale(1.1);
        }
    }

    .search {
        @include background-pack('./img/icons/search-logo.svg', no-repeat, center);
    }

    .cart {
        margin-left: 20px;
        @include background-pack('./img/icons/cart-logo.svg', no-repeat, center);
    }
}

.description-wrap {
    @extend %flex-between;

    .description {
        padding-top: 185px;
    }
}

.main-title {
    max-width: 520px;
    @include font-pack($montserrat-font-stack, 500, 68px, 83px, $green-color);    
}

.main-description {
    max-width: 500px;
    margin-bottom: 100px;
    margin-top: 22px;
      
    @include font-pack($montserrat-font-stack, normal, 18px, 32px, $dark-color);
    opacity: 0.8;
}

.display-button {
    @extend %button;
    position: relative;
    padding: 83px 38px 38px;
    @include font-pack($montserrat-font-stack, 500, 32px, 39px, $green-color);

    &::before {
        position: absolute;    
        @include font-pack($montserrat-font-stack, 500, 24px, 29px);    
        min-width: 100px;
        height: 50px;
        top: 40px;
    }
    
    &-back::before {
        @include background-pack('./img/icons/arrow-back.svg', no-repeat);    
        content: 'Previous';
        color: $dark-gray-color;
        padding-left: 40px;
    }
    
    &-next::before {
        @include background-pack('./img/icons/arrow-next.svg', no-repeat, top right);    
        content: 'Next';
        color: $light-gray-color;
        text-align: start;
    }

    &-active {
        background-color: $green-color;
        color: $white-color;
    }

    &:hover {
        background-color: $green-color;
        color: $white-color;
        opacity: 0.7;
    }
}

.image-nonactive {
    display: none;
}


@media screen and (max-width: 1270px) {
    .navigation {
        left: 10px;
    }

    .image-wrap {
        display: none;
    }

    .header {
        position: relative;

        &::after {
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: '';         

            @include background-pack('./img/header-bg.png', no-repeat); 
            opacity: 0.6;
        }
    }

    .navigation {
        width: 95%;
        margin: 20px auto;
    }

    .description-wrap { 
        justify-content: flex-end;

        .description {
            padding-right: 20px;
            padding-bottom: 80px;
        }
    }   
    
    .main-description {
        color: $black-color;
        opacity: 1;
        font-weight: bold;
    }

    .display-button {
        display: none;
    }
}

@media screen and (max-width: 730px) {
    .header {
        &::after {
            width: 100%;
            background-size: cover;
        }
    }    
}

@media screen and (max-width: 600px) {
    .description-wrap {
        .description {
            width: 100%;
        }
    }
}

@media screen and (max-width: 445px) {
    .navigation {
        justify-content: flex-end;
        top: 5px;
        margin: 0;
        flex-wrap: wrap;

        .user-panel {
            justify-content: flex-end;
            width: 100%;
        }
    }
}

@media screen and (max-width: 350px) {
    .user-panel {
        flex-wrap: wrap;

        .button {
            width: 75%;
            margin: 10px auto;

            &:nth-child(3) {
            border: 2px solid $green-color;
            }
        }
    }

    .main-title {
        font-size: 45px;
        line-height: 65px;
    }
}