$white-color: #ffffff;
$black-color: #000000;
$green-color: #156963;
$dark-color: #2C1500;

$dark-gray-color: #333333;
$light-gray-color: #F2F2F2;
$gray-color: #E0E0E0;

$nunito-font-stack: 'Nunito Bold', 'Arial', sans-serif;
$montserrat-font-stack: 'Montserrat Medium', 'Arial', sans-serif;
$poppins-font-stack: 'Poppins Regular', 'Arial', sans-serif; 
$worksans-font-stack: 'Worksans Regular', 'Arial', sans-serif;  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-content {
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
    position: relative;
}

%flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-end {
    display: flex;
    justify-content: flex-end;
}

%flex-between {
    display: flex;
    justify-content: space-between;
}

%flex-center {
    display: flex;
    align-items: center;
}

%flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

%button {
    display: inline-block;
    cursor: pointer;
    border: none;
    background: none;

    &:hover {
        background-color: $green-color;
        color: $white-color;
        opacity: 0.7;
    }
}

@mixin font-pack($font-family, $weight, $size, $line-height, $color: $black-color) {
    font-family: $font-family;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    color: $color;
}

@mixin background-pack($image, $repeat, $position: 0% 0%) {
    background-image: url($image);
    background-repeat: $repeat;
    background-position: $position;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.slide {
    // transform: scale(0, 0) translateY(0);
    
    animation-name: slide;
    animation-timing-function: ease;
    animation-duration: 3s;
    // animation-iteration-count: infinite;
    
    &:nth-child(2) {
        animation-delay: .4s;
    }

    &:nth-child(3) {
        animation-delay: .6s;
    }

    &:nth-child(4) {
        animation-delay: .8s;
    }
}

@keyframes slide {
    0% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}
